.zoneToken {
	-fx-background-color: white;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-border-width: 2px;
	-fx-border-color: black;
	-fx-pref-width: 140;
	-fx-pref-height: 100;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.zoneToken.selected{
	-fx-background-color: #ccc;
}

.zoneNameTitle{
	-fx-font-size: 14pt ;
}

.scroll-pane>.viewport {
	-fx-background-color: transparent;
}